*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}
.outmain{
    width: 100%;
    text-align: center;
}
.main{
    display: inline-block;
    width: calc(100% - 30px);
    padding: 15px;
    position: relative;
    background-color: #ffffff;
    /*margin-top: 16px;*/
}
.main-title{
    width: 100%;
    position: relative;
}
/*.main-title:before{*/
/*content: "";*/
/*position: absolute;*/
/*left: 0;*/
/*display: inline-block;*/
/*width: 4px;*/
/*height: 50px;*/
/*background-color: #2C323E;*/
/*}*/
.main-top{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 49px;
    background-color: #FFFFFF;
    text-align: left;
}
.main-top::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    top: 46%;
    margin-left: 16px;
    background-color: #2C323E;
}
.main-top span{
    letter-spacing: 1px;
    line-height: 50px;
    vertical-align: middle;
}
.main-top-title{
    font-family: PingFangSC-Semibold;
    margin-left: 32px;
    color: #2C323E;
}
.main-top-login{
    position: absolute;
    right: 26px;
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    color: #1D3700;
}
.main-top-login a{
    text-decoration: none;
    color: #33CCFF;
    cursor: pointer;
}
.main_content{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    background-color: #FFFFFF;
    /*border:1px solid #EFEFEF  ;*/
    height: 600px;
    text-align: center;
}
.main-center{
    width: 420px;
    display: block;
    margin:auto;
    margin-top: 100px;
}
.inputBox{
    display: block;
    width: 79%;
    height: 50px;
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
    /*border:1px solid #E8E8E8 ;*/
    border-bottom:1px solid #E8E8E8 ;
}
/*.inputBox-top{*/
/*margin-top: 100px;*/
/*}*/
.inputBox-verify{
    border-bottom: 0;
}
.inputBox input{
    display: inline-block;
    width: 70%;
    height: 50px;
    border: 0;
    outline: 0;
    color: #888888;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    letter-spacing: 1px;
}
.checkAlert{
    float: right;
    line-height: 50px;
    color: #FF0F0A;
    font-size: 14px;
}
.inputBox .verify{
    width: 60%;
    border-bottom:1px solid #E8E8E8;
}
.inputBox::after{
    color: #FF0F0A;
    font-size: 14px;
}
.getVerify{
    display: inline-block;
    height: 42px;
    width: 39%;
    float: right;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
    background-color: #1992EF;
    outline: 0;
    cursor: pointer;
}
.regisButton{
    display: block;
    height: 50px;
    width: 39%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.33px;
    background-color: #1992EF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
}
.forgotPass{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    margin: auto;
}
.check{
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    border-radius: 100%;
    border:1px solid #E8E8E8 ;
    background-color: #1992EF;
}
.forgotPass span{
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #888888;
    letter-spacing: 1px;
}
.forgotPass a{
    display: inline-block;
    float: right;
    text-decoration: none;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #888888;
    letter-spacing: 1px;
    cursor: pointer;
}